[DEFAULT]
mainwindow = 640x480+20+20
mainwindow_state = normal
maximized = 0

[geometry]
mainwindow_state = normal
mainwindow = 771x452+344+173

[files]

[dirs]

[xml]

[gui]
show_statusbar = 1

[mainwindow]

[topmenu]

[radxmlmenu]

[radstatusbar]

