[DEFAULT]
mainwindow = 640x480+20+20
mainwindow_state = normal
maximized = 0

[gui]
show_statusbar = 1

[geometry]
mainwindow_state = normal
mainwindow = 771x433+316+102

[files]

[xml]

[dirs]

[mainwindow]

[topmenu]

[radxmlmenu]

[radstatusbar]

